.Home{
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #000000;
}

.coin-icon{
  font-size: 150;
}

.center{
  justify-self: center;
  text-align: center;
}

h1{
  padding: 1em;
}

p{
  color: purple;
  font-size: 500;
  margin: 1em;
}

.currency{
  display: flex;
  justify-content: space-evenly;
}

table {
  padding: 2em 1.5em;
  text-align:center;
  width: 80vw;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #05141f 0%, #19121aef 74%);
  border-radius: 12px;
  /* border: 2px solid #485461; */
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.623);
} 

table td{
  margin: 2em;
  background: rgba(32, 2, 32, 0.959);
}

table tr:hover{
  background: white;
}

table th{
  /* margin: 2em; */
  padding: .5em;
  background-color: purple;
  align-items: center;
  border-radius: 5px;
}

.pagination {
  padding: 1em;
  margin: 1em;
  justify-self: center;
  margin-left: 2em;
  background-image: linear-gradient(315deg, #312233 0%, #05141f 74%);
  border-radius: 5px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.623);
}

.pagination{

  
  
}

.pagination button{
  color: white;
  background-color: rgba(158, 17, 158, 0.904);
  border-radius: 0.25rem;
  border: 0;
}

.pagination input{
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: grey;
  border-radius: 0.25rem;
  border: 0;
}

.pagination select{
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: grey;
  border-radius: 0.25rem;
  border: 0;
}